/MySalesMatter/nbproject/private/
/MySalesMatter/MySalesMatter-war/nbproject/private/
/MySalesMatter/MySalesMatter-ejb/nbproject/private/
/MySalesMatter/MySalesMatter-ejb/build/
/MySalesMatter/build/
/MySalesMatter/MySalesMatter-war/build/
/MySalesMatter/MySalesMatter-ejb/dist/
/MySalesMatter/dist/
/MySalesMatter/MySalesMatter/build/
/MySalesMatter/MySalesMatter/dist/
/MySalesMatter/MySalesMatter/nbproject/private/
/MySalesMatter/MySalesMatter-war/web/WEB-INF/glassfish-web.xml
/MySalesMatter/MySalesMatter-war/web/WEB-INF/web.xml
